{% extends "base.html" %}  
{% block title %}Aboutpage{% endblock %}  
    
{% block body %}  
  
  
<div class="about-section"> <h1>About 
Us Page</h1>  
<p>personal expense tracker application</p>  
<p>deepa(teamlead)</p>  
</div>  
  
  
<h2 style="text-align:center">Our Team</h2>  
<div class="row">  
<div class="column">  
<div class="card">  
<img src="/w3images/team1.jpg" alt="swetha" style="width:100%">  
<div class="container">  
<h2>SWETHA</h2>  
<p class="title">tester</p>  
<p>teammember1.</p>  
<p>swetha@gmail.com</p>  
<p><button class="button">Contact</button></p>  
</div>  
</div>  
</div>  
  
  
<div class="column">  
<div class="card">  
<img src="/w3images/team2.jpg" alt="jeyadharshini" style="width:100%">  
<div class="container">  
<h2>JEYADHARSHINI</h2>  
<p class="title">software developer</p>  
<p>team member2</p>  
<p>dharshini@example.com</p>  
<p><button class="button">Contact</button></p>  
</div>  
</div>  
</div>  
  
  
<div class="column">  
<div class="card">  
<img src="/w3images/team3.jpg" alt="kavibharathi" style="width:100%">  
<div class="container">  
<h2>KAVIBHARATHI</h2>  
<p class="title">frontend developer</p>  
<p>team member3</p>  
<p>kavi@example.com</p>  
<p><button class="button">Contact</button></p>  
</div>  
</div>  
</div>  
</div>  
{% endblock %}  
  
  
